.container {
  position: relative;
  width: 100%;
}

.navigation {
  position: fixed;
  width: 300px;
  height: 100%;
  transition: 0.5s;
  overflow: hidden;
  background-color: #fff;
}
.navigation .sidebar {
  margin: 20px;
}
.navigation .sidebar a {
  font-size: 20px;
  display: flex;
  align-items: center;
}
.navigation .sidebar a i {
  margin: 20px;
}

.sidebar a {
  color: gray;
}
.sidebar .active-link {
  color: black;
}
.active-link i {
  background-color: #8a2be2;
  padding: 10px;
  border-radius: 50%;
  color: white;
}

.container-search {
  display: flex;
  align-items: center;
}

.container-search .search-bar {
  background-color: #fff;
  padding: 10px;
  border-radius: 20px;
}
.container-search .search-bar i {
  margin: 0 5px 0 5px;
}
.container-search .search-bar input {
  width: 350px;
  background-color: #fff;
}

.profile-area {
  display: flex;
  width: calc(100% -350px);
  align-items: flex-end;
  justify-content: flex-end;
}
.border-circle {
  color: gray;
  border: 1px solid grey;
  border-radius: 50%;
  padding: 10px;
  margin-right: 15px;
}

.profile {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.profile-photo {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.profile-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main {
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  transition: 0.5s;
}
.main.active {
  width: calc(100% - 80px);
  left: 80px;
}

.topbar {
  width: 100%;

  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.toggle {
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  cursor: pointer;
}
.icon-menu {
  display: none;
}
.clase-oculta {
  display: none;
}

@media (max-width: 1000px) {
  .icon-menu {
    display: block;
    margin: 5px;
    padding: 10px;
    border-radius: 50%;
    background: #8a2be2;
  }
  .navigation {
    left: -300px;
  }
  .navigation.active {
    width: 300px;
    left: 0;
  }
  .main {
    width: 100%;
    left: 0;
  }
  .main.active {
    left: 300px;
  }
  .cardBox {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .cardBox {
    grid-template-columns: repeat(1, 1fr);
  }
  .cardHeader h2 {
    font-size: 20px;
  }
  .user {
    min-width: 40px;
  }
  .navigation {
    width: 100%;
    left: -100%;
    z-index: 1000;
  }
  .navigation.active {
    width: 100%;
    left: 0;
  }
  .toggle {
    z-index: 10001;
  }
  .main.active .toggle {
    color: #fff;
    position: fixed;
    right: 0;
    left: initial;
  }
}
